@import "./variables.scss";

@mixin textDecorationVerticalLine($side) {
	content: "";
	position: absolute;
	top: -1em;
	#{$side}: -1em;
	width: 2px;
	height: calc(100% + 2em);
	background-color: $gray;
	margin-#{$side}: 1em;
}

@mixin textVerticalOverflow($size) {
	@if $size > 80px {
		overflow: scroll;
		overflow-x: hidden;
		padding: 1em;
	}
}

@keyframes fanning {
	from {
		transform: rotate(0deg) rotateX(5deg);
	}
	25% {
		transform: rotate(-60deg) rotateX(6deg);
	}
	50% {
		transform: rotate(60deg) rotateX(8deg);
	}
	75% {
		transform: rotate(-60deg) rotateX(6deg);
	}
	to {
		transform: rotate(0deg) rotateX(5deg);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.App {
	display: flex;
	position: relative;
}
::-webkit-scrollbar {
	background-color: $light-gray;
	width: 15px;
	&-thumb {
		background-color: rgb(179, 206, 237);
	}
}
main {
	width: 80vw;
	margin-left: auto;

	.projectBox,
	.technologyBox {
		display: flex;
		gap: $default-gap;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: $default-gap * 3;
	}
	.decorator {
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: fit-content;
		margin-left: auto;
		margin-right: auto;
		padding: $default-gap * 4;
		&.top {
			transform: rotate(180deg);
		}
		img {
			filter: grayscale(1);
			height: 100px;
			transition: all 0.5s ease-in;
			position: absolute;
		}
		&:hover img {
			filter: hue-rotate(195deg);
			animation-duration: 1.5s;
			animation-name: fanning;
		}
	}
}
.container {
	width: 100%;
	max-height: 100vh;
	padding: $default-gap;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: $default-gap;
	&__banner {
		max-width: 40%;
		max-height: calc(100vh - 4em);
		img {
			height: 100%;
			max-width: calc(100% - $default-gap);
			display: block;
			margin: auto;
		}
	}
	&__text {
		font-family: "Quicksand";
		box-sizing: border-box;
		padding: $default-gap;
		max-width: 60%;

		&--left {
			text-align: right;
		}
		&--right {
			text-align: left;
		}
		&--left,
		&--right {
			position: relative;

			p {
				max-height: $max-text-height;
				overflow: auto;
				&::-webkit-scrollbar {
					width: 10px;
					&-thumb {
						background-color: $gray;
					}
				}
				&.hide-text-decoration {
					padding: 1em;
					&::after {
						display: none;
					}
				}
				&::after {
					@include textDecorationVerticalLine(right);
				}
			}
		}
	}
}

//shared classes
.w-25 {
	width: 25%;
}
.w-50 {
	width: 50%;
}
.w-75 {
	width: 75%;
}
