@import "./variables.scss";
.projectCard {
	font-family: "Quicksand";
	margin-bottom: $default-gap / 2;
	z-index: 1;
	&--pictureCard {
		width: calc(50% - $default-gap);
		aspect-ratio: 2 / 1;
		background-size: contain;
		background-position: center;
	}
	&__title {
		&--withPicture {
			margin-left: auto;
			height: 100%;
			width: 100px;
			background-color: rgba($color: #000000, $alpha: 0.5);
			display: flex;
			padding: $default-gap;
			transition: all 0.5s;
			position: relative;
			&:hover {
				cursor: pointer;
				width: 80%;
				background-color: rgba($color: #000000, $alpha: 0.8);
				img {
					margin-left: auto;
					margin-right: 25px;
				}
				span {
					color: rgb(230, 230, 230);
				}
			}
			img {
				position: absolute;
				left: 25px;
				align-self: flex-end;
				width: 50px;
				height: auto;
			}
		}
	}
}
@media only screen and (max-width: 1440px) {
	.projectCard {
		&--pictureCard {
			width: 80%;
		}
	}
}
