@import "./variables.scss";

.sidebar {
	display: flex;
	gap: 2em;
	justify-content: flex-end;
	height: 100vh;
	width: 20vw;
	background-color: $light-gray;
	font-family: Raleway;
	position: fixed;
	top: 0;
	left: 0;
	@media only screen and (max-width: 1200px) {
		width: 30vw;
	}
	.scrollbar {
		&-track {
			height: 80%;
			width: 10px;
			background-color: $gray;
		}
		&-thumb {
			height: calc(60vh / 5);
			width: 100%;
			background-color: $primary;
		}
	}
	.sectionTitles {
		height: 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		margin-top: 2em;
	}
}
