@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

//padding
$default-gap: 2em;

// height
$max-text-height: calc(100vh - 6em);

//color
$light-gray: rgb(237, 237, 237);
$gray: rgb(207, 205, 211);
